*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Iranian Sans;
    src: url(A-Iranian-Sans/Iranian\ Sans.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Iranian Sans;
}
.wrapper{
    position: relative;
    /* width: 400px;
    height: 500px; */
    width: 80%;
    height:auto;
    max-width: 400px;
    box-shadow:  0 0 50px #0ef;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    background-color:#f0f0f0;
   backdrop-filter: blur(10px);
}
.wrapper:hover{
   animation: animate 1s linear infinite;
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    transition: 1s ease-in-out;

}
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    form {
        width: 100%;
        padding: 10px;
    }
}
.wrapper.active .form-wrapper.sign-in{
    transform: translateY(-450px);
}
.wrapper .form-wrapper.sign-up{
    position: absolute;
    top:450px;
    left:0;
}
.wrapper.active .form-wrapper.sign-up{
    transform: translateY(-450px);
}
h2{
    font-size: 30px;
    color: black;
    text-align: center;
}
.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 3px solid #000;
}
.input-group label{
    position: absolute;
    top: 50%;
    right:5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
}
.input-group input{
    width:320px;
    height: 40px;
    font-size: 16px;
    color:#000;
    padding: 0 5px;
    background:transparent;
    border: none;
    outline: none;
}
.input-group input:focus~label,
.input-group input:valid~label{
    top:-5px;
}
.remember{
    margin:-5px 0 15px 5px;
}
.remember label{
    color: #000;
    font-size: 14px;
}
.remember label input{
    accent-color: #000;
}

.btn-login{
    position: relative;
    width:100%;
    height: 40px;
    background-color: #0ef;
    box-shadow: 0 0  10px #0ef;
    font-size: 16px;
    color:#000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}
.signUp-link{
    font-size: 14px;
    text-align: center;
    margin:15px 0;
}
.signUp-link p{
    color: #000;
}
.signUp-link p a{
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}
.signUp-link p a:hover{
    text-decoration: underline;
}